Repository wgumenyuk/momentum, pull requests merged in 2024-06, with the labels that each got.

#270 [Feature] Fehlende Fehlercodes hinzufügen (#264)
  packages/shared/src/index.ts
Labels: type: feature request, scope: shared

#272 [Feature] Event-Modell definieren (#265)
  packages/server/src/models/event.ts
  packages/shared/src/index.ts
Labels: type: feature request, scope: server, scope: shared

#269 feat: added nutritional information
  packages/server/src/models/nutrition.ts
  packages/shared/src/index.ts
Labels: type: feature request, scope: server, scope: shared

#274 [Enhancement] .env.example hinzufügen (#273)
  packages/server/.env.example
  packages/server/.gitignore
Labels: type: enhancement, scope: server

#277 [Feature] Context für dekodierten JWT-Payload implementieren (#276)
  packages/client/src/components/JwtContext/index.tsx
  packages/client/src/main.tsx
Labels: type: feature request, scope: client

#280 [Feature] useJwt() verwenden in ProfilePage (#279)
  packages/client/src/components/JwtContext/index.tsx
  packages/client/src/pages/ProfilePage.tsx
Labels: type: feature request, scope: client

#288 PR: [Enhancement] `InputField`-Komponente refactorn (#287)
  packages/client/src/components/Input/index.tsx
  packages/client/src/components/InputField/index.stories.tsx
  packages/client/src/components/InputField/index.tsx
  packages/client/src/components/PasswordInput/index.tsx
  packages/client/src/pages/auth/LoginPage.tsx
  packages/client/src/pages/auth/RegisterPage.tsx
  packages/client/src/pages/workout/EditWorkoutPage.tsx
  packages/client/src/pages/workout/ExerciseList.tsx
Labels: type: enhancement, scope: client

#291 PR: [Enhancement] JWT-Payload in Shared verschieben (#290)
  packages/client/src/components/JwtContext/index.tsx
  packages/server/src/types/koa/index.d.ts
  packages/shared/src/index.ts
Labels: type: enhancement, scope: server, scope: client, scope: shared

#294 PR: [Bug] Logout leitet nicht zu Login weiter (#292)
  packages/client/src/components/JwtContext/index.tsx
  packages/client/src/components/ProtectedRoute/index.tsx
  packages/client/src/pages/auth/LoginPage.tsx
  packages/client/src/pages/auth/LogoutPage.tsx
  packages/client/src/pages/auth/RegisterPage.tsx
Labels: type: bug, scope: client

#299 PR: [Enhancement] Ungeladenes Profil nicht rendern, wenn Fehler aufgetreten ist (#298)
  packages/client/src/pages/ProfilePage.tsx
Labels: type: enhancement, scope: client

#305 PR: [Feature] Input für den Display Name auf der Profil-Seite hinzufügen (#302)
  packages/client/src/pages/ProfilePage.tsx
Labels: type: feature request, scope: client

#306 PR: [Feature] Card mit User-ID im Profil (#304)
  packages/client/src/pages/ProfilePage.tsx
Labels: type: feature request, scope: client

#300 PR: [Enhancement] Refactor: Logout-Page (#293)
  packages/client/src/pages/auth/LogoutPage.tsx
Labels: type: enhancement, scope: client

#309 PR: [Feature] Mindestens zwei Test-User im Seeding haben (#307)
  packages/server/src/internal/mongo.ts
  packages/server/src/models/seeders/users.ts
  packages/server/src/models/seeders/workouts.ts
Labels: type: feature request, scope: server

#310 PR: [Bug] recipientId ist undefined beim Versenden einer Freundschaftsanfrage (#308)
  packages/server/src/services/social.ts
Labels: type: bug, scope: server

#312 [Feature] Exercises-Router registrieren (#297)
  packages/server/src/api/v1/index.ts
Labels: type: feature request, scope: server

#314 PR: [Feature] Friend Request Event löschen, sobald akzeptiert (#313)
  packages/client/src/components/FriendRequest/index.tsx
  packages/client/src/internal/api/events.ts
  packages/client/src/internal/api/friendships.ts
  packages/client/src/pages/social/Feed.tsx
  packages/server/src/api/v1/events.ts
  packages/server/src/services/events.ts
  packages/server/src/services/social.ts
Labels: type: feature request, scope: server, scope: client

#248 feat: add landing page
  packages/client/public/food_tracking.webp
  packages/client/public/push_graph.png
  packages/client/src/components/Button/login_logout.tsx
  packages/client/src/main.tsx
  packages/client/src/pages/general/landing_page.tsx
Labels: type: feature request, scope: client, status: work in progress

#322 [Feature] Freundschaftsanfragen blockieren, wenn Profil privat ist (#319)
  packages/server/src/services/social.ts
Labels: type: feature request, scope: server

#324 PR: [Feature] Active Countdown Page (#285)
  packages/client/src/components/Countdown/index.tsx
Labels: type: feature request, scope: client
